* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 0 auto; /* Center the container horizontally */
    max-width: 100%; /* Ensure responsiveness on smaller screens */
}

h3 {
    color: #333;
    font-size: 1.5rem; /* Adjust font size for better visibility */
}

input {
    width: calc(100% - 22px); /* Full width minus padding and border */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px; /* Spacing between input and container */
    font-size: 1rem;
    margin-top: 40px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
}

.error{
  animation: shake 0.1s linear 10;
}

@keyframes shake {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}

#container {
    margin: 20px 0;
    max-height: 0; /* Initially collapsed */
    overflow: hidden;
    transition: max-height 0.5s ease; /* Smooth transition for height change */
}

#container.newclass {
    max-height: 200px; /* Expand to accommodate the image */
}

#Qrimage {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block; /* Ensure images are block-level */
    margin: 0 auto; /* Center image horizontally */
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0; /* Margin for spacing */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

